* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #111;
    color: white;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
}

#timer {
    margin-top: 150px;
    margin-left: 250px;
    display: flex;
    height: 300px;
    width: 800px;
    font-size: 50px;
    background-color: red;
    line-height: 100px;
    border-radius: 20px;
}
.timerEl{
    margin-left: 4px;
}
#digits {
    margin: auto;
    background-color: #111;
    width: 300px;
    height: 100px;
    border-radius: 20px;
}

#buttons {
    margin: auto;
}

.but {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    height: 30px;
    width: 80px;
    border-radius: 10px;
    margin-top: 10px;
}

.but:first-of-type {
    margin-top: 0;
}

.but:hover {
    background-color: #2f8deb;
}